.Manual-Order .dropDown-small .MuiSelect-outlined.MuiSelect-outlined {
   padding-top: 5px;
   padding-bottom: 6px;
}

.Manual-Order .MuiToggleButtonGroup-root {
   width: 300px;
   border-color: rgba(0, 0, 0, 0.08);
   color: #424242;
   background-color: #ffffff;
   box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.Manual-Order .MuiToggleButtonGroup-root button {
   border: unset;
}

.Manual-Order .MuiToggleButton-root.Mui-selected {
   color: #2196f3;
   background-color: transparent;
   font-weight: 700;
   border-bottom: 1px solid #2196f3;
}

.Manual-Order .collect-drop-column {
   height: 80px;
}

.Manual-Order .emplyee-column {
   height: 80px;
}

.Manual-Order .k-grid tbody tr:hover,
.k-grid tbody tr.k-state-hover {
   background: unset;
}

.Manual-Order .k-grid td {
   padding: 2px;
}

.emplyee-column .k-grid td {
   padding: 2px;
}
