.App {
   text-align: center;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.MuiInputBase-input.Mui-disabled {
   background-color: rgb(0 0 0 / 6%);
}

.de-activ {
   opacity: 0.2;
   pointer-events: none;
}

.hidden-scrollbar::-webkit-scrollbar {
   width: 0px;
   visibility: hidden;
}

::-webkit-scrollbar {
   height: 5px;
   width: 5px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
   background: gray;
   border-radius: 10px;
}

@media all and (max-width: 1280px) {
   .hidden-wl-1280 {
      display: none !important;
   } /* hide it on larger screens */
}

.show-on-hover {
   visibility: hidden;
}
.show-on-hover:hover {
   visibility: visible;
}

.DatePicker .Mui-error.MuiFormHelperText-filled {
   display: none;
}
