* {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-size: 16px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

#root {
   height: 100%;
}

.MuiSelect-select.MuiSelect-select {
   text-align: initial;
}

*[dir='ltr'] {
   direction: ltr;
   text-align: left;
   unicode-bidi: embed;
}

*[dir='rtl'] {
   direction: rtl;
   text-align: right;
   unicode-bidi: embed;
}
