.k-tilelayout {
   background-color: #ffedb1;
}

/*remoe headers*/
.k-tilelayout-item-header.k-card-header {
   display: none;
}

.k-tilelayout .k-card {
   border-radius: 15px;
}
.k-tilelayout {
   border-radius: 15px;
}

.k-tilelayout .k-card {
   padding: 0.2em 0.2em;
}

.k-tilelayout.k-grid-flow-col {
   margin: 10px;
   padding: unset;
}
